{% extends "base.html" %}
{% block title %}Admin Login{% endblock %}

{% block content %}
  <h1 class="top-title">ADMIN</h1>
  <form class="card" method="post" autocomplete="off">
    <label>Username:</label>
    <input name="username" required>

    <label>Password:</label>
    <input type="password" name="password" required>

    <div class="form-actions">
      <button class="btn" type="submit">LOGIN</button>
      <a class="btn" href="{{ url_for('home') }}">Back</a>
    </div>
  </form>
{% endblock %}
